<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="form-outline" data-mdb-input-init>
        <input list="band-list" type="text" id="form12" class="form-control" />
        <datalist id="band-list"></datalist>
        <label class="form-label" for="form12">Example label</label>
      </div>
      <script src="scripts/bandsearch.js"></script>
</body>
</html>