<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input>
</body>
<script id="document-template" type="text/x-handlebars-template">
    <div>
        {{#each this}}
            <div class="row">
                <div class="col-md-12">
                    <h2>Bands</h2>
                        {{#DocumentList}}
                            <p>{{band}} at {{city}}</p>
                        {{/DocumentList}}
                </div>
            </div>
        {{/each}}
        
            <p>There are no documents available at this time</p>
        
    </div>
</script>
</html>