
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GigHub</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel = "stylesheet" href = "./css/index.css"> 
</head>
<body>
  <header>
    <div id = "header">
        <h1 id = "gighubhead">GigHub</h1>
        <p id = "slogan">where true connection only takes one listen</p>
    </div>
</header>
<section>
  <p class="chose">Are you a...?</p>
</section>
<div class="homebtns">
<a class="btn btn-dark" id = "bandbtn" onclick="band()">Band</a>
<a class="btn btn-dark" id = "fanbtn" onclick="fan()">Fan</a>
    
</div>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="scripts/indexhandle.js"></script>
</body>
</html>